<!DOCTYPE html>
<html>
  <head>
    <title>@ViewData["Title"] - EmptyASP</title>
  </head>
  <body>
    <header>
      <h2>EmptyASP</h2>
    </header>
    <div>
      @RenderBody()
      @RenderSection("Script",required: false)
    </div>

  </body>
</html>