@model ASPEmpty.Models.EmployeeModel

<h2>Add employee</h2>
<form asp-action="Create" method="post">
  <label>ID</label> <input asp-for="eid"/> <br/>
  <label>Name</label> <input asp-for="name"/> <br/>
  <label>Salary</label> <input asp-for="salary"/> <br/>
  <button type="submit">Submit</button>
</form>
