@model MyMVC.Models.UserModel
<div style="border:1px solid black; padding:10px; margin:5px; border-radius:10px;">
  <h2>User details</h2>
  <p>@Model.userid</p>
  <p>@Model.username</p>
  <p>@Model.emailid</p>
</div>